:root {
  --pink: #e91e63;
  --pink50: #fce4ec;
  --pink100: #f8bbd0;
}

html {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Open sans', 'Helvetica', 'sans-serif';
  font-size: 18px;
}

h1 {
    color: #fff;
    font-weight: 400;
    margin: 0;

    a {
      color: inherit;
      text-decoration: none;
      padding-bottom: 0.15em;

      &:hover {
        border-bottom: 2px solid #fff;
      }
    }
}

h2 {
  color: #000;
  text-align: center;

  & span {
    color: var(--pink);
    text-decoration: underline;
  }
}

header {
  background-color: var(--pink);
  color: #fff;
  height: 300px;
  text-align: center;

  & .lead {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

main {
  margin: 0 auto;
  max-width: 1200px;
}

.inner {
  margin: 0 auto;
  max-width: 800px;
}

a {
  color: var(--pink);
}

.links {
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item {
    margin-bottom: 0.5em;
  }
}
