$pink: #E91E63;
$pink50: #FCE4EC;
$pink100: #F8BBD0;

html {
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Open sans', 'Helvetica', 'sans-serif';
  font-size: 18px;
}

h1 {
    color: #fff;
}

h2 {
  color: $pink;
}

a {
  color: $pink;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

header {
  background-color: $pink;
  color: #fff;
  height: 300px;
  text-align: center;

  .lead {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    h1 {
      color: #fff;
    }

    h2 {
      color: $pink100;
    }

    a {
      color: inherit;
    }
  }
}

.main {
  padding: 30px 5%;

  h2 {
    text-align: center;
  }

}
