html
  head
    title!= title || 'Isomorphic Flux/React boilerplate'
    link(rel='stylesheet', href='/app.css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400', rel='stylesheet', type='text/css')
  body
    h1!= message1
    div#app !{html}
    script(type='text/javascript', src='/app.js')
